{% load humanize %}

<div class="card">
  <div class="card-body">
    <table id="example1" class="table table-bordered table-striped verified js-server-datatable">
      <thead>
        <tr>
          <td>Index</td>
          <th>Full Name</th>
          <th>Gender</th>
          <th>Age</th>
          <th>Atrocity</th>
          <th style="white-space: nowrap;">Place of Killing</th>
          <th style="white-space: nowrap;">Woreda</th>
          <th>Source</th>
          <th style="white-space: nowrap;">Date of Event</th>
          <th>Remark:</th>
        </tr>
      </thead>
      <tbody>
        {% for victim in civilian_victims %}
        <tr>
          <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
          <td style="white-space: nowrap;"><a href="/View-victim-info/{{ victim.id }}" style="color: inherit;">{{ victim.full_name.title }}</a></td>
          <td>{{ victim.gender }}</td>
          <td>{% if victim.age %}{{ victim.age }}{% else %}<i>Unknown</i>{% endif %}</td>
          <td>{{ victim.perpetrator }}</td>
          <td>{% if victim.place_of_killing %}{{ victim.place_of_killing }}{% else %}<i>Unknown</i>{% endif %}</td>
          <td>{{ victim.woreda }}</td>
          <td>{% include 'public_partials/source_links.html' with source=victim.source source_link=victim.source_link %}</td>
          <td>{% if victim.date_of_event %}{{ victim.date_of_event|date:"d-M-Y" }}{% else %}<i>Undated</i>{% endif %}</td>
          <td style="white-space: nowrap;">
            {% if victim.remark %}
              {% autoescape off %}
                {{ victim.remark|urlize }}
              {% endautoescape %}
            {% else %}
              <i>Unknown</i>
            {% endif %}
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="10" class="text-center"><span class="fa fa-search"></span> No matching victims found.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
