{% extends 'base.html' %}

{% load custom %}

{% block meta-title %}
    <meta name="og:title" content="Verified Civilian Victims by Location">
{% endblock %}

{% block page-content %}

{% load static %}

<main id="main">

  <style>
    td,
    th {
      font-size: 14px;
    }

    table {
      border-color: gray;
    }

    .table-bordered {
      border: 1px solid #dee2e6;
    }
    #source_link:hover{
        text-decoration: underline;
    }
  </style>

  <!-- ======= Civilian Victims Photo Section ======= -->
  <section id="portfolio" class="portfolio sections-bg">
        
         <div class="section-header">
            <h2><span class="fas fa-users"></span> Verified Civilian Victims by Location</h2>
        </div>
        
    <div class="container" data-aos="fade-up">

      <div class="row" style="padding-left: 40px; padding-right: 40px;">
        <div class="col-lg-2  form-group">

              <form method="POST">
                {% csrf_token %}
                
  
                <div class="form-group">
                  <a href="{% url 'civilian-victim-map-page' %}" class="btn btn-default btn-xs"><span class="fa fa-backward"></span> Back</a>
                </div>
                
                <br>
                
                <div class="form-group">
                  <span id="woreda">Woreda</span>
                  <select class="selectpicker form-control" data-live-search="true" name="woreda" id="selectWoreda" required>
                    <option selected="" disabled="">Select Woreda</option>
                    {% for woreda in woreda_list%}
                    <option value="{{ woreda.woreda_name }}">{{ woreda.woreda_name }}</option>
                    {% endfor %}
                  </select>
                </div>

              </form>
              
              <br>

        </div>

        <div class="col-lg-10 col-sm-6  form-group">
          <div class="card">
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <td>Index</td>
                    <th>Full Name</th>
                    <th>Gender</th>
                    <th>Age</th>
                    <th>Atrocity</th>
                    <th style="white-space: nowrap;">Place of Killing</th>
                    <th style="white-space: nowrap;">Woreda</th>
                    <th>Source</th>
                    <th style="white-space: nowrap;">Date of Event</th>
                    <th>Remark:</th>
                  </tr>
                </thead>
                <tbody>

                  {% for victim in civilian_victims %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td style="white-space: nowrap;"><a href="/View-victim-info/{{ victim.id }}" style="color: inherit;">{{ victim.full_name.title }}</a></td>
                    <td>{{ victim.gender }}</td>
                    <td>{% if victim.age %} {{ victim.age }} {% else %} <i>Unknown</i> {% endif %}</td>
                    <td>
                      {{ victim.perpetrator }}
                    </td>
                    <td>
                      {% if victim.place_of_killing %}
                       {{ victim.place_of_killing }} 
                       {% else %}
                      <i>Unknown</i> 
                      {% endif %}
                    </td>
                    <td>
                      {{ victim.woreda }}
                    </td>
                        <td>
                         {% if victim.source %}
                             {% if victim.source_link|urlize == victim.source_link %}
                              {{ victim.source }}
                              {% else %}
                                

                                {% if ',' in victim.source and ',' in victim.source_link  %}
                                    {% with source_list=victim.source|split_string:', ' %}
                                        {% with link_list=victim.source_link|split_string:', ' %}
                                            {% for source_item, link_item in source_list|zip_lists:link_list %}
                                             
                                             {% if link_item|urlize == link_item %}
                                            {{ source_item }}
                                            {% else %}
                                                <a href="{{ link_item }}" id="source_link" target="_blank"><i class="fa fa-link"></i> {{ source_item }}</a>
                                                {% endif %}
                                                
                                                {% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        {% endwith %}
                                    {% endwith %}
                                {% else %}
                                    <a href="{{ victim.source_link|extract_and_join_urls }}" id="source_link" target="_blank"><i class="fa fa-link"></i> {{ victim.source }}</a>
                                {% endif %}


                              {% endif %}
                               {% else %}
                            <i>Unknown</i>
                          {% endif %}
                        </td>
                    <td>{% if victim.date_of_event %} {{ victim.date_of_event|date:"d-M-Y" }} {% else %} <i>Undated</i> {% endif %}
                    </td>
                    <td style="white-space: nowrap;">
                        {% if victim.remark %} 
                              {% autoescape off %}
                                {{ victim.remark|urlize }}
                              {% endautoescape %} 
                            {% else %} 
                                <i>Unknown</i> 
                            {% endif %}
                    </td>
                  </tr>
                  {% endfor %}

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <br><br>

      {{ geolocation|safe }}

    </div>
  </section>
  <!-- End civilian victim Section -->
  
  <!-- Admlte Js file -->
    <script src="{% static 'admlte/js/jquery.min.js' %}"></script>
  
  <Script>
        $(document).ready(function() {
            
          // filter by name
          $('#selectWoreda').on('change', function() {
            const civilian_woreda = $(this).val();
            
            // slugify woreda name
            // Replace spaces with hyphens
            var slug = civilian_woreda.replace(/\s+/g, '-');
            
            // Remove special characters
            slug = slug.replace(/[^\w-]+/g, '');
            
            // Convert to lowercase
            slug = slug.toLowerCase();
            
            if (civilian_woreda) {
              window.location.href = '/Civilina-victims-location-information/' + slug;
            }
          });
          
        });
    </script>

</main><!-- End #main -->

<script>
  $(document).ready(function () {
    $('.selectpicker').select2();
  });
</script>

{% endblock %}