{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block meta-title %}
    <meta name="og:title" content="Tigray Genocide Homepage">
{% endblock %}

{% block page-content %}

<style>

.hero {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url({{ hero_image }});
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 120px 0 60px 0;
  color: rgba(255, 255, 255, 0.8);
  object-fit: cover;
}

  p.parsley-success {
    color: #468847;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6
}

p.parsley-error {
    color: #B94A48;
    background-color: #F2DEDE;
    border: 1px solid #EED3D7
}

ul.parsley-errors-list {
    list-style: none;
    color: #E74C3C;
    padding-left: 0
}

input.parsley-error,
textarea.parsley-error,
select.parsley-error {
    background: #FAEDEC;
    border: 1px solid #E85445
}

.btn-group .parsley-errors-list {
    display: none
}
</style>

<style>
  .icon {
  display: none;
}
/* CSS style for our custom legend */
.legend {
  margin-top: 20px;
}

.legend ul {
  list-style: none;
  padding: 0;
  margin: 0;
  column-count: 2; /* Set the number of columns */
  column-gap: 10px; /* Set the gap between columns */
  list-style-type: none;
}

.legend li {
  margin-bottom: 5px;
  font-size: 12px;
}

.legend-color {
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 5px;
}

.plotly-chart {
  height: 360px;
  min-height: 320px;
}

.plotly-chart .plotly-graph-div {
  width: 100% !important;
  height: 100% !important;
}

/* Add additional styling as needed */
</style>

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero">
  <div class="container position-relative">
    <div class="row gy-5" data-aos="fade-in">
      <div class="col-lg-3"></div>
      <div class="col-lg-8 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
        <h2 class="animate-charcter" style="color: #dfeb0a;">ኲናት ፅንተት ትግራይ
          <span></span>
        </h2>
        <h2 class="animate-charcter2" style="color: #e31515;">Tigray Genocide
          <span></span>
        </h2>
      </div>
    </div>
  </div>
</section>
<!-- End Hero Section -->

<main id="main">
    
<div class="sharethis-sticky-share-buttons"></div>


    <!-- ======= Stats Counter Section ======= -->
    <section id="stats-counter" class="stats-counter">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4 align-items-center">

            <div class="col-lg-3">
            <div class="stats-item d-flex align-items-center">
              <span id="count_civilian"></span>
              <p><strong>Verified Civilian Victims</strong></p>
            </div><!-- End Stats Item -->
            </div>

          <div class="col-lg-3">
            <div class="stats-item d-flex align-items-center">
              <span id="count_unverified_civilian"></span>
              <p><strong>Unidentified Civilian Victims</strong></p>
            </div><!-- End Stats Item -->
            </div>

          <div class="col-lg-3">
            <div class="stats-item d-flex align-items-center">
              <span id="count_articles"></span>
              <p><strong>Analysis Articles</strong></p>
            </div><!-- End Stats Item -->
            </div>
            
          <div class="col-lg-3">
            <div class="stats-item d-flex align-items-center">
              <span id="count_photo"></span>
              <p><strong>Photo Archives</strong></p>
            </div><!-- End Stats Item -->
            </div>
            
            <div class="col-lg-3">
              <div class="stats-item d-flex align-items-center">
                <span id="count_video"></span>
                <p><strong>Video Archives</strong></p>
              </div><!-- End Stats Item -->
              </div>

        </div>
      </div>
    </section><!-- End Stats Counter Section -->

  <!-- ======= Live Reporting Section ======= -->
  <section id="services" class="services sections-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2><span class="fa fa-signal"></span> Dynamic Live Report</h2>
        <p><span class="fa fa-info-circle" style="color: green;"></span>This report draws on live data from the system database.</p>
      </div>

      <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

        <div class="col-lg-6 col-md-6">
          <div class="service-item  position-relative">
              
          <!-- Your custom legend -->
            <div class="legend">
                <p><b>Note:</b> The data in this chart includes both verified and unidentified  civilian victims</p>
                <br>
              <ul>
                <li><span class="legend-color"></span><i class="fas fa-map-marker-alt mr-1"></i> West ({{ line_chart_items_percentage.0|safe }}%)</li>
                <li><span class="legend-color"></span><i class="fas fa-map-marker-alt mr-1"></i> East ({{ line_chart_items_percentage.1|safe }}%)</li>
                <li><span class="legend-color"></span><i class="fas fa-map-marker-alt mr-1"></i> Central ({{ line_chart_items_percentage.2|safe }}%)</li>
                <li><span class="legend-color"></span><i class="fas fa-map-marker-alt mr-1"></i> North West ({{ line_chart_items_percentage.3|safe }}%)</li>
                <li><span class="legend-color"></span><i class="fas fa-map-marker-alt mr-1"></i> South ({{ line_chart_items_percentage.4|safe }}%)</li>
                <li><span class="legend-color"></span><i class="fas fa-map-marker-alt mr-1"></i> South East ({{ line_chart_items_percentage.5|safe }}%)</li>
                <li><span class="legend-color"></span><i class="fas fa-map-marker-alt mr-1"></i> Mekelle ({{ line_chart_items_percentage.6|safe }}%)</li>
                <li><span class="legend-color"></span><i class="fas fa-map-marker-alt mr-1"></i> Other ({{ line_chart_items_percentage.7|safe }}%)</li>
                <!-- Add more list items for additional series -->
              </ul>
            </div>
            <br>
                <div id="chartContainer" style="height: 250px;"></div>
          </div>
        </div>
        <!-- End Service Item -->

        <div class="col-lg-6 col-md-6">
          <div class="service-item  position-relative">
          <!-- Your custom legend -->
            <div class="legend">
                <p><b>Note:</b> The data in this chart is based on verified civilian victims.</p>
                <br>
              <ul>
                <li><span class="legend-color" style="background-color: #6D78AD;"></span> < 10 ({{ bar_chart_items_percentage.0|safe }}%)</li>
                <li><span class="legend-color" style="background-color: #51CDA0;"></span> 10-18 ({{ bar_chart_items_percentage.1|safe }}%)</li>
                <li><span class="legend-color" style="background-color: #DF7970"></span> 18-33 ({{ bar_chart_items_percentage.2|safe }}%)</li>
                <li><span class="legend-color" style="background-color: #4C9CA0;"></span> 33-49 ({{ bar_chart_items_percentage.3|safe }}%)</li>
                <li><span class="legend-color" style="background-color: #AE7D99;"></span> 49-64 ({{ bar_chart_items_percentage.4|safe }}%)</li>
                <li><span class="legend-color" style="background-color: #C9D45C;"></span> 64-80 ({{ bar_chart_items_percentage.5|safe }}%)</li>
                <li><span class="legend-color" style="background-color: #5592AD;"></span> 80-95 ({{ bar_chart_items_percentage.6|safe }}%)</li>
                <li><span class="legend-color" style="background-color: #DF874D;"></span> Unknown ({{ bar_chart_items_percentage.7|safe }}%)</li>
                <!-- Add more list items for additional series -->
              </ul>
            </div>
            <br>
                <div id="chartContainer2" style="height: 250px;"></div>
          </div>
        </div>
        <!-- End Service Item -->

        <div class="col-lg-6 col-md-6">
          <div class="service-item  position-relative">
          <!-- Your custom legend -->
            <div class="legend">
                <p><b>Note:</b> The data in this chart includes both verified and unidentified  civilian victims.</p>
            </div>
            <div class="plotly-chart">
              {{ pi_data_points|safe }}
            </div>
          </div>
        </div>
        <!-- End Service Item -->

        <div class="col-lg-6 col-md-6">
          <div class="service-item  position-relative">
          <!-- Your custom legend -->
            <div class="legend">
                <p><b>Note:</b> The data in this chart is based on verified civilian victims.</p>
            </div>
            <div class="plotly-chart">
              {{ doughnut_data_points|safe }}
            </div>
          </div>
        </div>
        <!-- End Service Item -->

      </div>

    </div>
  </section>
  <!-- End Our Services Section -->
  
<style>
  #symbol .modebar-btn {

    display: none;

  }
  .modebar-btn {

    display: none;

  }
</style>

  <!-- ======= Civilian Victims Photo Section ======= -->
  <section id="portfolio" class="portfolio sections-bg">
    <div class="container" data-aos="fade-up">
      
      <div class="section-header">
        <h2><span class="fas fa-users"></span> Civilian Victims</h2>
        {% if civilian_victims %}
        <p><span class="fa fa-info-circle" style="color: green;"></span>Click on the civilian victim's name for more information.</p>
      {% endif %}
      </div>

      <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry"
        data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">
          
          <style>
              #borderimg2 {
                  border: 17px solid transparent;
                  border-image: url(https://www.laframe.com/cdn-cgi/image/quality%3D85/assets/images/Custom%20Frames/Custom%20A/Frame/A15_OK.jpg) 20% round;
                }
          </style>

        <div class="row gy-4 portfolio-container">
        {% if civilian_victims %}
          {% for victim in civilian_victims %}
          <div class="col-xl-2 col-md-6 portfolio-item filter-app col-md-55" id="col-md-55">
            <div style="box-shadow: none;"> 
              <a style="font-size: 12px; font-family: interstate,sans-serif; font-weight: bold;text-decoration: none;
              font-weight: 700; color: #003b63; display: block; text-align: center; margin-top: 20px;" href="/View-victim-info/{{ victim.id }}" title="More Details">
                
                <div id="borderimg2">
                    <img src="{{ victim.picture.url }}" class="img-fluid" style="border-radius: 0px; height: 170px; width: auto; display: block; margin-left: auto; margin-right: auto; transition: none;" id="civilian_victim" alt="Civilian Victim">
                </div>
                
              <div>
                <h4 >
                    {{ victim.full_name.title }}
                </a>
                </h4>
              </div>
            </div>
          </div>
          {% endfor %}
          {% else %}
          
          <h2 class="text-center" id="no-data"><i class="fas fa-exclamation-triangle text-warning"></i> No civilian victims data found.</h2>
          {% endif %}

        </div>

      </div>
  </section>
  <!-- End civilian victim Section -->  

  {% if civilian_victims %}
  <div class="text-center">
    <a href="{% url 'civilian-victim-photo-page' %}"><button id="see-more-btn"><span class="fa fa-arrow-alt-circle-right"></span> See More</button></a>
  </div>
  {% endif%}

  <!-- ======= Analysis Section ======= -->
  <section id="recent-posts" class="recent-posts sections-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2><span class="fa fa-pen"></span> Analysis Articles</h2>
      </div>

      <div class="row gy-4">
        {% if analysis_articles %}
        {% for article in analysis_articles %}
        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="{{ article.thumbnail.url }}" style="height: 239px; width: 100%;" alt="" class="img-fluid">
            </div>

            <h2 class="title">
              <a href="/View-article/{{ article.id }}">{{ article.title }}</a>
            </h2>

            <div class="d-flex align-items-center">
              <img src="{{ article.author.administrator.admin_photo.url }}" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-author">{{ article.author.first_name }} {{ article.author.last_name }}</p>
                <p class="post-date">
                  <time> {{ article.date_created|date:"d-M-Y" }}</time>
                </p>
              </div>
            </div>

          </article>
        </div>
        <!-- End post list item -->
        {% endfor %}
      {% else %}
      
      <h2 class="text-center" id="no-data"><i class="fas fa-exclamation-triangle text-warning"></i>No analysis articles were found.</h2>
      {% endif %}

      </div>
      <!-- End recent posts list -->

    </div>
  </section>
  <!-- End Recent Blog Posts Section -->
  {% if analysis_articles %}
  <div class="text-center">
    <a href="{% url 'archive-photo' %}"><button id="see-more-btn"><span class="fa fa-arrow-alt-circle-right"></span> See More</button></a>
  </div>
  {% endif %}

<!-- ======= Photo Archive Section ======= -->
<section id="portfolio" class="portfolio sections-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2><span
        class="bi bi-camera-video-fill"></span> Photo Archives</h2>
    </div>

    <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry"
      data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">


      <div class="row gy-4 portfolio-container">
        
        {% if photo_archives %}
        {% for item in photo_archives %}
        <div class="col-xl-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
              {% if item.graphic == True %}
                <a href="{{ item.photo.url }}" data-gallery="portfolio-gallery-app" class="glightbox" data-title="{{ item.description }}">
                    <img src="{% static 'img/graphic_img.png' %}" style="height: 200px; width: 100%;" class="img-fluid" alt="">
                </a>
              {% else %}
              <a href="{{ item.photo.url }}" data-gallery="portfolio-gallery-app" class="glightbox" data-title="{{ item.description }}">
                <img src="{{ item.photo.url }}" style="height: 239px; width: 100%;" class="img-fluid" alt="">
              </a>
              {% endif %}  
            <div class="portfolio-info">
              <h4>
                <span class="bi bi-geo-alt" id="calendar">
                    {% if item.location %}
                    {{ item.location }}, {{ item.woreda }} Woreda
                    {% else %}
                    <i>Unknown</i>, {{ woreda }} Woreda
                    {% endif %}
                </span>
                <span class="far fa-calendar" id="gps">
                  {% if item.date_of_event %}
                  {{ item.date_of_event|date:"d-M-Y" }}
                  {% else %}
                  <i>Undated</i>
                  {% endif %}
                </span>
              </h4>
              <p>
                {{ item.description|urlize }}
              </p>
            </div>
          </div>
        </div><!-- End Portfolio Item -->
        {% endfor %}
      {% else %}
      <h2 class="text-center" id="no-data"><i class="fas fa-exclamation-triangle text-warning"></i> No photo archive data found.</h2>
      {% endif %}

      </div><!-- End Portfolio Container -->

    </div>

  </div>
</section><!-- End Photo Archive Section -->
  
  {% if photo_archives %}
  <div class="text-center">
    <a href="{% url 'archive-photo' %}"><button id="see-more-btn"><span class="fa fa-arrow-alt-circle-right"></span> See More</button></a>
  </div>
  {% endif %}

  <!-- ======= Video Archive Section ======= -->
  <section id="portfolio" class="portfolio sections-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2><span
          class="bi bi-camera-video-fill"></span> Video Archives</h2>
      </div>

      <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry"
        data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">


        <div class="row gy-4 portfolio-container">

          {% if video_archives %}
            {% for item in video_archives %}
            <div class="col-xl-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <a href="/Watch-video/{{ item.id }}">
                 <iframe width="100%" height="200px" src="https://www.youtube.com/embed/{% with video_id=item.online_link|cut:"https://www.youtube.com/watch?v=" %}{{ video_id }}{% endwith %}" frameborder="0" allowfullscreen></iframe>
                  <!-- end of hidden image -->
                </a> 
                <div class="portfolio-info">
                      <h4>
                      <span class="bi bi-geo-alt" id="calendar">
                        {% if item.location %}
                        {{ item.location }}, {{ item.woreda }} Woreda
                        {% else %}
                        <i>Unknown</i>, {{ woreda }} Woreda
                        {% endif %}
                      </span>
                      <span class="far fa-calendar" id="gps">
                        {% if item.date_of_event %}
                        {{ item.date_of_event|date:"d-M-Y" }}
                        {% else %}
                        <i>Undated</i>
                        {% endif %}
                      </span>
                  </h4>
                  <p>
                      {{ item.description|slice:":96" }}
                      <span id="more_{{ item.id }}" class="hidden">{{ item.description|slice:"96:" }}</span>
                      
                      {% if item.description|length > 96 %}
                          <a class="seeMore" data-id="{{ item.id }}" style="cursor: pointer">See more</a>
                          <a class="showLess hidden" data-id="{{ item.id }}" style="cursor: pointer">Show less</a>
                      {% endif %}
                  </p>
                </div>
              </div>
            </div>
          {% endfor %}
          {% else %}
          
          <h2 class="text-center" id="no-data"><i class="fas fa-exclamation-triangle text-warning"></i> No video archive data found.</h2>
          {% endif %}

        </div><!-- End Portfolio Container -->

      </div>

    </div>
  </section><!-- End Photo Archive Section -->
  
  {% if video_archives %}
  <div class="text-center">
    <a href="{% url 'archive-video' %}"><button id="see-more-btn"><span class="fa fa-arrow-alt-circle-right"></span> See More</button></a>
  </div>
  {% endif %}

  

    <!-- ======= Our Services Section ======= -->
    <section id="services" class="services sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Send Information</h2>
        </div>

        <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6" style="">
            <div class="service-item  position-relative" style="background: url({% static 'img/send-info-img.png' %})">
              <h3><i class="bi bi-people"></i> Civilian Vicitm Information</h3>
              <p>{{ "You can send us information regarding Tigrayan civilian victims using the form provided." }}</p>
              <a href="{% url 'send-information' %}" class="readmore stretched-link">Continue <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative" style="background: url({% static 'img/send-info-img.png' %})">
              <h3><i class="bi bi-camera-video-fill"></i> Photo/Video Archives</h3>
              <p> You can send us information regarding Photo/Video archives using the form provided.</p>
              <a href="{% url 'send-archive' %}" class="readmore stretched-link">Continue <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section><!-- End Our Services Section -->

</main>
<!-- End #main -->

<script src="{% static 'js/chart.js' %}"></script>

{{ home_page_config|json_script:"home-page-config" }}

 <style>
    .hidden {
      display: none;
    }
  </style>
  
<script>
  $(document).ready(function() {
    $(".seeMore").click(function() {
      var itemId = $(this).data('id');
      $("#more_" + itemId).removeClass("hidden");
      $(this).addClass("hidden");
      $(".showLess[data-id='" + itemId + "']").removeClass("hidden");
    });

    $(".showLess").click(function() {
      var itemId = $(this).data('id');
      $("#more_" + itemId).addClass("hidden");
      $(this).addClass("hidden");
      $(".seeMore[data-id='" + itemId + "']").removeClass("hidden");
    });
  });
</script>

<!-- cookies website -->
<script type="text/javascript" src="https://cookieconsent.popupsmart.com/src/js/popper.js"></script>
<script> window.start.init({Palette:"palette1",Mode:"floating right",Theme:"wire",Time:"5",})</script>

{% endblock %}
