{% extends 'base.html' %}

{% block meta-title %}
    <meta name="og:title" content="Photo Archive">
{% endblock %}

{% block page-content %}

{% load static %}

<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <nav>
      <div class="container">
        <ol>
          <li><a href="{% url 'app-index' %}">Home</a></li>
          <li>Photo Archive</li>
        </ol>
      </div>
    </nav>
  </div><!-- End Breadcrumbs -->

  <!-- ======= Photo Archive Section ======= -->
  <section id="portfolio" class="portfolio sections-bg">
      
      <div class="section-header">
        <h2><span class="bi bi-camera-video-fill"></span> {{ woreda }} Woreda Photo Archives</h2>
      </div>
      
    <div class="container" data-aos="fade-up">
      <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry"
        data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">
    
        <div class="row">
        <div class="col-lg-5">
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                  <a href="{% url 'archive-photo' %}" class="btn btn-default btn-xs"><span class="fa fa-backward"></span> Back</a>
            </div>
          </form>
        </div>
      </div>
      
      <br><br>

        <div class="row gy-4 portfolio-container">
        
        {% if page %}
          {% for item in page %}
          <div class="col-xl-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
                {% if item.graphic == True %}
                <a href="{{ item.photo.url }}" data-gallery="portfolio-gallery-app" class="glightbox" data-title="{{ item.description }}">
                    <img src="{% static 'img/graphic_img.png' %}" style="height: 200px; width: 100%;" class="img-fluid" alt="">
                </a>
                {% else %}
                <a href="{{ item.photo.url }}" data-gallery="portfolio-gallery-app" class="glightbox" data-title="{{ item.description }}">
                    <img src="{{ item.photo.url }}" style="height: 239px; width: 100%;" class="img-fluid" alt="">
                </a>
                {% endif %}  
              <div class="portfolio-info">
                <h4>
                  <span class="bi bi-geo-alt" id="calendar">
                    {% if item.location %}
                    {{ item.location }}, {{ item.woreda }} Woreda
                    {% else %}
                    <i>Unknown</i>, {{ woreda }} Woreda
                    {% endif %}
                  </span>
                  <span class="far fa-calendar" id="gps">
                    {% if item.date_of_event %}
                    {{ item.date_of_event|date:"d-M-Y" }}
                    {% else %}
                    <i>Undated</i>
                    {% endif %}
                  </span>
                </h4>
                <p>
                  {{ item.description|urlize }}
                </p>
              </div>
            </div>
          </div><!-- End Portfolio Item -->
          {% endfor %}
        {% else %}
            <h2 class="text-center" id="no-data"><span class="fa fa-search"></span> Photo archives not found for {{ woreda }} woreda.</h2>
        {% endif %}

        </div><!-- End Portfolio Container -->

      </div>

    </div>
  </section><!-- End Photo Archive Section -->

   <!--Pagination-->
   <div class="container p-4">
    <div class="pagination justify-content-center">
        <span class="step-links">
          {% if page.has_previous %}
              <a href="?page=1"><button class="btn btn-block btn-outline-dark btn-sm">&laquo; first</button></a>
              <a href="?page={{ movies.previous_page_number }}"><button class="btn btn-block btn-outline-dark btn-sm">previous</button></a>
          {% endif %}

            <span class="current">
                Page {{ page.number }} of {{ page.paginator.num_pages }}
            </span>

          {% if page.has_next %}
              <a href="?page={{ page.next_page_number }}"><button class="btn btn-block btn-outline-dark btn-sm">next</button></a>
              <a href="?page={{ page.paginator.num_pages }}"><button class="btn btn-block btn-outline-dark btn-sm">last &raquo;</button></a>
          {% endif %}
        </span>
        </div>
    </div>
  <!--end of Pagination-->

</main>

{% endblock %}